<!-- Radio Button choices -->
		<div class = "container-fluid">
			<div class="heading-title text-center">
				<h2>What type of building did you want to quote?</h2>
			</div>
			<form>
				
					<div id = "radio-buttons" class ="row ">
						<div class = "col-md-3 align-center">
							<div class ="form-check">
								<input class = "form-check-input" type ="radio" name="radio-select"id = "residential-radio" >
								<label class = "form-check-label" for ="residential-radio" >
									Residential
								</label>

							</div>
						</div>
						<div class = "col-md-3 align-center">
							<div class ="form-check">
								<input class = "form-check-input" type ="radio" name="radio-select" id ="commercial-radio">
								<label class = "form-check-label" for ="commercial-radio" >
									Commercial
								</label>

							</div>
						</div>
						<div class = "col-md-3 align-center">
							<div class ="form-check">
								<input class = "form-check-input" type ="radio" name="radio-select" id = "corporate-radio">
								<label class = "form-check-label" for ="corporate-radio" >
									Corporate
								</label>

							</div>
						</div>
						<div class = "col-md-3 align-center">
							<div class ="form-check">
								<input class = "form-check-input" type ="radio" name="radio-select" id = "hybrid-radio">
								<label class = "form-check-label" for ="hybrid-radio" >
									Hybrid
								</label>

							</div>
						</div>
					</div>

			</form>
		</div>
			<!-- /Radio Button choices -->

			<!--Getting inputs from the user-->
		<div id = "inputs" class = "container">
			<form >
				<!--residential inputs begin-->
				<div id = "apartment-box" class = "mb-50">
					<label for = "apartments" class = "form-label">Number of apartments in the building</label>
					<input type = "number" class = "form-control" id = "apartments" aria-describedby="apartment-help" min = "0">
					<div id = "apartment-help" class = "form-text">Please enter the number of apartments in the building</div>
				</div>
				<div id = "floors-box" class = "mb-50">
					<label for = "floors" class = "form-label">Number of floor in the building, not including basements.</label>
					<input type = "number" class = "form-control" id = "floors" aria-describedby="apartment-help" min = "1">
					<div id = "apartment-help" class = "form-text">Please enter the number of floors, no basements</div>
				</div>
				<div id = "basements-box" class = "mb-50">
					<label for = "basements" class = "form-label">Number of basements in the building</label>
					<input type = "number" class = "form-control" id = "basements" aria-describedby="apartment-help" min = "0">
					<div id = "apartment-help" class = "form-text">Please enter the number of basements in the building</div>
				</div>
				<!--residential inputs end-->
				<!--commercial specific inputs begin-->
				<div id = "parking-box" class = "mb-50">
					<label for = "parking" class = "form-label">Number of parking space available</label>
					<input type = "number" class = "form-control" id = "parking" aria-describedby="apartment-help" min = "0">
					<div id = "apartment-help" class = "form-text">Please enter the number of parking spaces for the building</div>
				</div>
				<div id = "business-box" class = "mb-50">
					<label for = "business" class = "form-label">Number of distinct businesses</label>
					<input type = "number" class = "form-control" id = "business" aria-describedby="apartment-help" min ="0">
					<div id = "apartment-help" class = "form-text">Please enter the number of distinct businesses in the building</div>
				</div>
				<div id = "c-cages-box" class = "mb-50">
					<label for = "commercial-cages" class = "form-label">Number of elevator cages to be deployed</label>
					<input type = "number" class = "form-control" id = "commercial-cages" aria-describedby="apartment-help" min = "0">
					<div id = "apartment-help" class = "form-text">Please enter the number of elevator cages to be deployed</div>
				</div>
				<!--commercial specific inputs end-->
				<!--corporate specific input begin-->
				<div id = "tenant-box" class = "mb-50">
					<label for = "tenant" class = "form-label">Number of separate tenant companies in the building</label>
					<input type = "number" class = "form-control" id = "tenant" aria-describedby="apartment-help" min = "0">
					<div id = "apartment-help" class = "form-text">Please enter the number of separate tenant companies in the building</div>
				</div>
				<!--corporate specific input end-->
				<div id = "occupant-box" class = "mb-50">
					<label for = "occupant" class = "form-label">Maxiumum number of occupants per floor</label>
					<input type = "number" class = "form-control" id = "occupant" aria-describedby="apartment-help" min = "0">
					<div id = "apartment-help" class = "form-text">Please enter the maximum number of occupants per floor</div>
				</div>
				<div id = "activity-box" class = "mb-50">
					<label for = "activity" class = "form-label">Number of hours of activity of the building per day</label>
					<input type = "number" class = "form-control" id = "activity" aria-describedby="apartment-help" min = "0" max = "24">
					<div id = "apartment-help" class = "form-text">Please enter the maximum number of hours the bulding is active</div>
				</div>
			</form>
		</div>
	<!--OUTPUT-->
		<div id = "output" class = "container">
			<!--output -->
			<!--Pricing Radio Buttons-->
			<div class = "container-fluid">
				<div class="heading-title text-center">
					<h2>What type of service did you need?</h2>
				</div>
				<form>
					
						<div id = "pricing-buttons" class ="row ">
							<div class = "col-md-3 align-center">
								<div class ="form-check">
									<input class = "form-check-input" type ="radio" name="radio-select"id = "standard-radio" checked>
									<label class = "form-check-label" for ="standard-radio" >
										Standard
									</label>
	
								</div>
							</div>
							<div class = "col-md-3 align-center">
								<div class ="form-check">
									<input class = "form-check-input" type ="radio" name="radio-select" id ="premium-radio">
									<label class = "form-check-label" for ="premium-radio" >
										Premium
									</label>
	
								</div>
							</div>
							<div class = "col-md-3 align-center">
								<div class ="form-check">
									<input class = "form-check-input" type ="radio" name="radio-select" id = "excelium-radio">
									<label class = "form-check-label" for ="excelium-radio" >
										Excelium
									</label>
	
								</div>
							</div>
							
						</div>
	
				</form>
			</div>
			<!-- Pricing Radio Buttons -->
					<div id="output-elevator-container" class="mb-3">
            		<label for="output-elevators" class="form-label">Elevators needed </label>
            		<input type="text" class="form-control" id="output-elevators" placeholder="0" readonly>
        			
				
					<div id="output-pricePerElevator-container" class="mb-3">
            		<label for="price-per-elevator" class="form-label">Price per Elevator </label>
            		<input type="text" class="form-control" id="price-per-elevator" placeholder="0" readonly>
        			</div>
				
					
					<div id="output-totalPrice-container" class="mb-3">
            		<label for="output-total-price" class="form-label">Total price of Elevators</label>
            		<input type="text" class="form-control" id="output-total-price" placeholder="0" readonly>
        			</div>
				
					
					<div id="output-fees-container" class="mb-3">
            		<label for="output-installation" class="form-label">Installation Fees </label>
            		<input type="text" class="form-control" id="output-installation" placeholder="0" readonly>
        			</div>
				
				
					<div id="output-finalPrice-container" class="mb-3">
            		<label for="output-final-price" class="form-label">Final Pricing </label>
            		<input type="text" class="form-control" id="output-final-price" placeholder="0" readonly>
        			</div>
				<br/>
				<div>
                <input type="submit" value="SUBMIT" class="form-control">
                </div>
                <br/>
                <br/>
			<!---->
		</div>

